{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container packages">
	<div class="row">
		<div class="col-12 text-center">
			<h3 class="header-font">Your basket</h3>
		</div>

		<div class="container shopping-bag">
			<div class="col-12">
				{% if bag_items %}
				<div class="table-responsive rounded">
					<table class="table table-sm table-borderless">
						<thead class="text-orange card-header font-underline">
							<tr>
								<th scope="col" class="dropdown-font">Package name</th>
								<th scope="col" class="dropdown-font">Price</th>
								<th scope="col" class="dropdown-font">Qty</th>
							</tr>
						</thead>

						{% for item in bag_items %}
						<tr>
							<td>
								<p class="text-orange bag-font">{{ item.package.name }}</p>
							</td>
							<td>
								<p class=" text-orange bag-font">${{ item.package.price }}</p>
							</td>
							<td>
								<p class="text-orange bag-font">{{ item.quantity }}</p>
							</td>
                            <td>
                                <a class="delete-item bag-font text-orange" id="remove_{{ item.item_id }}">Remove package</a> 
                            </td>
						</tr>                        
                                                    
						{% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-center">
                                    <p class="card-font text-orange">Bag Total: £{{ total|floatformat:2 }}</p>                                                                 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">                                    
                                    <a href="" class="btn btn-orange btn-lg">
                                        <span>Checkout</span>                                        
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
						<h3 class="dropdown-font">Your bag is empty right now!</h3>
						<p class="description-font"> Don't let your car suffer, Take a look at our packages! </p>                        
						{% endif %}
                    
				</div>
			</div>
		</div>
		{% endblock %}
        <script type="text/javascript">
        $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];        
        var url = `/bag/remove/${itemId}`;        

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
    </script>