{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container packages">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="header-font">Your basket</h3>
            </div>

        <div class="container border-white">
            <div class="col-12">
             {% if bag_items %}
                <div class="table-responsive"></div>
            {% else %}
                <h3 class="dropdown-font">Your bag is empty right now!</h3>
                    <p class="description-font"> Don't let your car suffer, Take a look at our packages! </p>
            {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
