{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="home-image row h-100">
            <div class="col-12 col-md-12 my-auto">
                <h1 class="display-5 logo-font text-center text-white">
                    Give your car the clean it deserves!
                </h1>
                <div class="text-center my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse Packages</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="header-font">What can we offer?</h1>
                <ul class="list-group ">
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>Premium service</p></li>
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>5+ Years of professional experience</p></li>
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>Competetive Prices</p></li>
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>Countless packages to suit your needs</p></li>
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>Flexible times and locations</p></li>
                    <li class="list-group-item text-center grey-background"><p class="text-white list-font"><i class="fas fa-check icon green-icon"></i>You don't have to be there for us to work</p></li>
                </ul>
        </div>
    </div>
</div>  
{% endblock %}
