{% extends "base.html" %}
{% load static %}

{% block page-header %}
<div class="container page-header">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
                <h1 class="display-5">Time to give your car the clean it deserves!
                </h1>
            <div>
                <h3>
                    <a href="" class="package-browse-button btn btn-lg"> Browse Now! </a>
                </h3>
        </div>
    </div>

{% endblock %}