.body{
    background: url('https://www.vecteezy.com/vector-art/538887-abstract-yellow-or-orange-light-line-glowing-neon-motion-on-black-background-laser-beams-of-lighting-motion') no-repeat;
    background-size: cover;
    font-family:'Lato';
    color:orange;
}