html {
    height: 100%;
}

body {
    background-color:rgba(0, 0, 0, 0.809);
    background-size: cover;
    height: calc(100vh - 164px);
    color: darkorange;
    font-family: 'Oswald', sans-serif;
}

.home-image{
    background: url('https://www.mustang6g.com/forums/media/project-6gr-wheels-on-a-ruby-red-ford-mustang-gt-front-side-close-up-view.9040/full') no-repeat center center fixed;
    background-size:cover;    
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 4rem;    
}

.packages{
    padding-top:250px;
}

.logo-font {
    text-transform: uppercase;
    font-size:72px;    
}

.nav-font{
    font-size:52px;
}

.header-font {
    text-transform: uppercase;
    font-size:58px;  
    text-decoration: underline;    
}

.description-font {
    font-size:32px;
    font-family: 'Recursive', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: darkorange;
    color: white;
    min-width: 200px;
}

.btn-orange {
    background:darkorange;
    color: white;
}
/* when the search button is hovered .... */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background: orange;
    color: white;
}

.dropdown-font{
    font-size:38px;
}

.dropdown{
    margin:0;
}

.list-font{
    font-size:34px;
}

.cards{
    padding-left:50px;
}

/* -------------------------------- Colors */

.border-white {
    border: 1px solid darkorange !important;
}

.black-background{
    background-color:black;
}

.grey-background{
    background-color:grey;
}

.lightgrey-background{
    background-color:lightgrey;
}

.text-white{
    color:white;
}

.text-orange {
    color:darkorange !important;
}

.green-icon{
    color:rgb(1, 255, 1);
}

/* -------------------------------- Package Card */
.package-card{
    margin:20px;   
}

.card-header{
    font-size:32px;
}

.card-font{
    font-size:24px;
}
/* -------------------------------- Media Queries */


@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
   
    .header-container {
        padding-top: 164px;
    }
}