<div class ="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font nav-link text-orange mr-5" href="#" id="all-package-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All of our packages
            </a>
            <div class="dropdown-menu border-0 black-background" aria-labelledby="all-package-links">
                <a href="" class="dropdown-item text-orange"> All Products</a>
                <a href="" class="dropdown-item text-orange"> By Rating</a>                
                <a href="" class="dropdown-item text-orange"> By Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font nav-link text-orange mr-5" href="#" id="offers-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special offers
            </a>
            <div class="dropdown-menu border-0 black-background" aria-labelledby="offers-links">
                <a href="" class="dropdown-item text-orange"> All Products</a>
                <a href="" class="dropdown-item text-orange"> By Rating</a>                
                <a href="" class="dropdown-item text-orange"> By Price</a>
            </div>
        </li>        
    </ul>
</div>