<div class ="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="#" id="all-package-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All of our packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-package-links">
                <a href="" class="dropdown-item"> All Products</a>
                <a href="" class="dropdown-item"> By Rating</a>                
                <a href="" class="dropdown-item"> By Price</a>
            </div>
        </li>
    </ul>
</div>