<div class ="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-font nav-link text-orange mr-5" href="#" id="all-package-links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View all of our packages
            </a>
            <div class="dropdown-menu border-0 black-background" aria-labelledby="all-package-links">
                <a href="{% url 'packages' %}" class="dropdown-item text-orange"> All Packages</a>
                <a href="{% url 'packages' %}?sort=rating&direction=desc" class="dropdown-item text-orange"> By Rating</a>                
                <a href="{% url 'packages' %}?sort=price&direction=asc" class="dropdown-item text-orange"> By Price</a>
            </div>
        </li>                
    </ul>
</div>